html{
  background-color:rgb(120, 39, 195);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}


.container{
  height: 300px;
  max-width: 40%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fields{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
  height: 30px;
}

.fields input{
  border: solid 2px blueviolet;
  background-color: rgb(191, 166, 214);
  border-radius: 8px;
  text-align: center;
}

button{
  height: 30px;
  width: 80px;
  background-color: rgb(88, 88, 222);
  border-radius: 7px;
}